@import url('https://fonts.googleapis.com/css?family=Montserrat:300,200,400i,500,700&display=swap');

$font-family-sans-serif: Montserrat, sans-serif, -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif !default;
$font-family-serif:      Georgia, "Times New Roman", Times, serif !default;
$font-family-monospace:  Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;
$font-family-base:       $font-family-sans-serif !default;

@import '~bootstrap/scss/bootstrap.scss';